html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    display: inline-block;
    text-decoration: none;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $text;
    font-weight: 400;
}